<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="voidLogDir">${sys:void.logDir:-./logs}</Property>
        <Property name="voidRunId">${sys:void.runId:-startup}</Property>
        <Property name="voidRunDate">${sys:void.runDate:-unknown-date}</Property>
        <Property name="voidDateLogDir">${voidLogDir}/${voidRunDate}</Property>
        <Property name="voidPartialLogDir">${voidDateLogDir}/partial-trace</Property>
        <Property name="voidFullTraceLogDir">${voidDateLogDir}/full-trace</Property>
    </Properties>

    <Appenders>

        <!-- Console: plain %m%n so CustomLogger controls all formatting -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>

        <!-- Rolling daily file for normal test run logs -->
        <RollingFile name="Rolling"
                     fileName="${voidPartialLogDir}/run-${voidRunId}.log"
                     filePattern="${voidPartialLogDir}/archive/run-${voidRunId}.%d{yyyy-MM-dd}.%i.log.gz"
                     append="false">
            <PatternLayout pattern="%replace{%m}{\u001B\[[;\d]*m}{}%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="25 MB"/>
            </Policies>
        </RollingFile>

        <!-- Full trace file (no ANSI) -->
        <RollingFile name="TraceFile"
                     fileName="${voidFullTraceLogDir}/full-trace-${voidRunId}.log"
                     filePattern="${voidFullTraceLogDir}/archive/full-trace-${voidRunId}.%d{yyyy-MM-dd}.%i.log.gz"
                     append="false">
            <PatternLayout pattern="%replace{%m}{\u001B\[[;\d]*m}{}%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="25 MB"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>
        <!-- Suppress noisy framework loggers -->
        <Logger name="io.github.bonigarcia"    level="WARN" additivity="false"><AppenderRef ref="Console"/></Logger>
        <Logger name="org.seleniumhq.selenium" level="WARN" additivity="false"><AppenderRef ref="Console"/></Logger>
        <Logger name="io.cucumber"             level="WARN" additivity="false"><AppenderRef ref="Console"/></Logger>
        <Logger name="org.apache.http"         level="WARN" additivity="false"><AppenderRef ref="Console"/></Logger>
        <Logger name="io.opentelemetry"        level="WARN" additivity="false"><AppenderRef ref="Console"/></Logger>

        <!-- Trace-only logger (mirrors old log4j.logger.trace) -->
        <Logger name="trace" level="INFO" additivity="false">
            <AppenderRef ref="TraceFile"/>
        </Logger>

        <!-- Root: DEBUG so CustomLogger's info/warn/debug/error all appear -->
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Rolling"/>
        </Root>
    </Loggers>
</Configuration>

