<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="VoidFrameworkSuite" verbose="1">

    <test name="UnitTests">
        <groups>
            <run>
                <exclude name="integration"/>
            </run>
        </groups>
        <packages>
            <package name="core.*"/>
            <package name="elements.*"/>
            <package name="probe.*"/>
        </packages>
    </test>

    <test name="IntegrationTests">
        <groups>
            <run>
                <include name="integration"/>
            </run>
        </groups>
        <packages>
            <package name="core.*"/>
            <package name="elements.*"/>
            <package name="probe.*"/>
        </packages>
    </test>

</suite>