<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="voidLogDir">${sys:void.logDir:-./logs}</Property>
        <Property name="voidRunId">${sys:void.runId:-startup}</Property>
        <Property name="voidRunDate">${sys:void.runDate:-unknown-date}</Property>
        <Property name="voidRootLogLevel">${sys:void.rootLogLevel:-INFO}</Property>
        <Property name="voidDateLogDir">${voidLogDir}/${voidRunDate}</Property>
        <Property name="voidDebugLogDir">${voidDateLogDir}/debug-trace</Property>
        <Property name="voidPartialLogDir">${voidDateLogDir}/partial-trace</Property>
        <Property name="voidFullTraceLogDir">${voidDateLogDir}/full-trace</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>

        <RollingFile name="DebugTraceFile"
                     fileName="${voidDebugLogDir}/debug-trace-${voidRunId}.log"
                     filePattern="${voidDebugLogDir}/archive/debug-trace-${voidRunId}.%d{yyyy-MM-dd}.%i.log.gz"
                     append="false">
            <PatternLayout pattern="%replace{%m}{\u001B\[[;\d]*m}{}%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="25 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="PartialTraceFile"
                     fileName="${voidPartialLogDir}/partial-trace-${voidRunId}.log"
                     filePattern="${voidPartialLogDir}/archive/partial-trace-${voidRunId}.%d{yyyy-MM-dd}.%i.log.gz"
                     append="false">
            <PatternLayout pattern="%replace{%m}{\u001B\[[;\d]*m}{}%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="25 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="TraceFile"
                     fileName="${voidFullTraceLogDir}/full-trace-${voidRunId}.log"
                     filePattern="${voidFullTraceLogDir}/archive/full-trace-${voidRunId}.%d{yyyy-MM-dd}.%i.log.gz"
                     append="false">
            <PatternLayout pattern="%replace{%m}{\u001B\[[;\d]*m}{}%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="25 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="debug-trace" level="DEBUG" additivity="false">
            <AppenderRef ref="DebugTraceFile"/>
        </Logger>

        <Logger name="partial-trace" level="DEBUG" additivity="false">
            <AppenderRef ref="PartialTraceFile"/>
        </Logger>

        <Logger name="trace" level="INFO" additivity="false">
            <AppenderRef ref="TraceFile"/>
        </Logger>

        <Root level="${voidRootLogLevel}">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>

